
.bg {
            /* The image used */
            background-image: url("https://cdn.pixabay.com/photo/2016/04/12/22/35/watercolour-1325656_960_720.jpg");
            /* Full height */
            height: 100%;

            /* Center and scale the image nicely */
            background-repeat:no-repeat;
            -webkit-background-size:cover;
            -moz-background-size:cover;
            -o-background-size:cover;
            background-size:cover;
            background-position:center;
    }
.jumbotron {
            background: none
    }
.who{
            margin-bottom: 0px;
            margin-top: 10px;
    }
.disc{
            margin-top:0px;
            padding:25px;
            border: 2px solid red;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            
    }
.content{
            font-size: 150%;
            font-style: oblique;
    }
.git{
            margin: 20px;
    }
