  
{% extends 'devbase.html' %}

{% block head %}
<title>Edit Post</title> 
{% endblock %}

{% block body %}
<br>
<h1 class="head mainhead"><b>Deleting Project Info</b></h1>

    <br>
    <h2>Are You Sure that you want to Delete this Project?</h2>
    <br>
    <br>
    <div class="form-group purple-border"></div>
    <form action='/posts/delete/{{post.id}}' method='POST' class="form">
        <input type='submit' class="btn btn-danger key" value='Delete'>
        &nbsp;  <a href="/posts" class="btn btn-primary key">Back</a>
    </form>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
 
{% endblock %}