{% extends 'devbase.html' %}

{% block head %}
<title>Home</title> 
{% endblock %}

{% block body %}
<br>
<h1 class="who head mainhead"><b>WHO ARE HACKER NOOBS?</b></h1>
<main role="main">
    <div class="jumbotron">
        <div class="col-xs-8 mx-auto disc">
            <p><b>We are a bunch of geeks in CET CSE Batch 2019-23. What unites us is our passion and curiosity towards Technology .<a class="btn btn-success" href="/posts" role="button">Check Out Our Projects &raquo;</a></b></p>
        </div>
    </div>
</main>


{% endblock %}