{% extends 'base.html' %}

{% block head %}
<title>Edit Post</title> 
{% endblock %}

{% block body %}
<h1>Editing Project Info</h1>

    <hr>
    <h2>Edit Details:</h2>
    {% with messages = get_flashed_messages()%}
        {% if messages%}
            {% for message in messages %}
                <h3>{{ message }}</h3>
            {% endfor %}
            <h4> If you are not a developer you cannot edit.   <a href="/posts">Click here</a>  to go back</h4>
        {% endif %}
    {% endwith %}
    <form action='/posts/edit/{{post.id}}' method='POST'>
        Developer id:<input type='text' name='dev_id' id='dev_id' >
        <br>
        Developer key:<input type='text' name='dev_key' id='dev_key'>
        <br>
        Project Name: <input type='text' name='title' id='title' value="{{post.title}}">
        <br>
        developer: <input type='text' name='author' id='author' value="{{post.author}}">
        <br>
        Description: <input type='text' name='content' id='content' value="{{post.content}}">
        <br>
        Github URL: <input type='text' name='github' id='github' value="{{post.github}}">
        <br>
        <br>
        <input type='submit' value='Save'>
        &nbsp;  <a href="/posts">Go Back</a>
    </form>
    <hr>
{% endblock %}