{% extends 'base.html' %}

{% block head %}
<title>Home</title> 
{% endblock %}

{% block body %}
<h1>Who are Hacker Noobs?</h1>
<main role="main">
    <div class="jumbotron">
        <div class="col-sm-8 mx-auto">
            <p style="font-size: 150%">We are a bunch of geeks in CET CSE Batch 2019-23. What unites us is our passion and curiosity towards Technology .</p>
            <p>
                <a class="btn btn-primary" href="/posts" role="button">Check Out Our Projects &raquo;</a>
            </p>
        </div>
    </div>
</main>
{% endblock %}