{% extends 'base.html' %}

{% block head %}
<title>Home</title> 
{% endblock %}

{% block body %}
<br>
<h1 class="who"><b>Who are Hacker Noobs?</b></h1>
<main role="main">
    <div class="jumbotron">
        <div class="col-xs-8 mx-auto disc">
            <p style="font-size: 150%"><b>We are a bunch of geeks of CET CSE Batch 2019-23. What unites us is our passion and curiosity towards Technology .</b></p>
            <br>
            <p>
                <a class="btn btn-danger" href="/posts" role="button">Check Out Our Projects &raquo;</a>
            </p>
        </div>
    </div>
</main>
{% endblock %}