{% extends 'base.html' %}

{% block head %}
<title>New Post</title> 
{% endblock %}

{% block body %}
<br>
<h1 class="head mainhead">New Project</h1>

    <br>
    <form action='/posts/new' method='POST' class="form">
        <br>
        Project Name:<br>
        <input type='text' name='title' id='title'  size="72">
        <br>
        <br>
        Developer:<br>
         <input type='text' name='author' id='author' maxlength="100" size="72">
        <br>
        <br>
        Description:<br>
        <textarea name='content' rows="5" cols="75"></textarea>
        <br>
        <br>
        Github URL:<br>
        <textarea name='github' rows="2" cols="75"></textarea>
        <br>
        <br>
        <input type='submit' value='Upload' class="btn btn-danger key">&nbsp;&nbsp;<a class="btn btn-primary key" href='/posts' >Back</a>
    </form>
    <br>
    <br>
    <br>
    
{% endblock %}