{% extends 'base.html' %}

{% block head %}
<title>Posts</title> 
{% endblock %}

{% block body %}
<h1>HACKER NOOBS Projects</h1>

    <hr>
    <h2>Add Your Projects Here if you are a member</h2>
    {% with messages = get_flashed_messages()%}
        {% if messages%}
            {% for message in messages %}
                <h3>{{ message }}</h3>
            {% endfor %}
            <h4><i>If you are not a developer you cannot upload your Project !</i></h4>
        {% endif %}
    {% endwith %}
    <form action='/posts' method='POST'>
        Developer id:<input type='text' name='dev_id' id='dev_id' >
        <br>
        Developer key:<input type='text' name='dev_key' id='dev_key'>
        <br>
        Project Name: <input type='text' name='title' id='title'>
        <br>
        Developer: <input type='text' name='author' id='author'>
        <br>
        Description: <input type='text' name='content' id='content'>
        <br>
        Github URL: <input type='text' name='github' id='github'>
        <br>
        <input type='submit' value='Upload'>
    </form>
    <hr>

    {% for post in posts %}
        <h2>{{ post.title }}</h2>

        {% if post.author %}
            <h3>Developer: {{ post.author }}</h3>
        {% else %}
            <h3>By: N/A</h3>
        {% endif %}
        <a href="{{post.github}}">Github</a>
        <p>{{ post.content }}</p>
        <a href='/posts/delete/{{post.id}}'>Delete</a>
        <a href='/posts/edit/{{post.id}}'>Edit</a>
        <hr>
    {% endfor%}

{% endblock %}